@media screen and (max-width:576px) {
  .navbar {
    padding: 16px 20px;
    display: flex;
  }

  .navbar .menu,
  .navbar .sub-btn {
    display: none;
  }

  .hamburger-btn {
    display: block;
    margin-left: auto;
  }

  .hamburger-btn img {
    display: block;
    width: 28px;
    height: auto;
  }

  #banner {
    position: relative;
    min-height: 20vh;
    background-image: url(../assets/hero-bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .images-container {
    align-items: center;
    margin-top: 200px;
    margin-bottom: 10px;
    position: relative;
    width: 200px;
    height: 180px;
    top: 30%;
    left: 40%;
  }

  .badge {
    font-size: 12px;
    top: -15px;
    right: 5px;
    left: auto;
    padding: 4px 10px;
  }

  .text-content {
    padding-top: 25px;
    text-align: center;
  }

  .text-content h1 {
    font-size: 1.8rem;
    margin-bottom: 8px;
  }

  .text-content p {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .btn-group {
    flex-direction: row;
    gap: 12px;
  }

  .primary-btn,
  .second-btn {
    height: 40px;
    font-size: 1rem;
    padding: 8px 14px;
  }

  .about-section {
    margin-top: 30px;
    text-align: center;
    padding: 0 20px;
  }

  .about-section h1 {
    font-size: 2rem;
  }

  .about-section p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    text-align: center;
  }

  .about-cards h2 {
    font-size: 1.6rem;
  }

  .about-cards p {
    font-size: 0.75rem;
  }

  #why-choose {
    padding: 30px 10px;
    background: #230E3D;
  }

  .grid-section {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .grid1 {
    grid-column: span 3;
  }

  .grid2 {
    grid-column: span 3;
  }

  .grid3 {
    grid-column: span 3;
  }

  .grid4 {
    grid-column: span 3;
  }

  .grid5 {
    grid-column: span 3;
  }

  #grid-section h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.7rem;
    margin-top: 20px;
  }

  .episodes-container {
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
  }

  .episode-card {
    border-radius: 20px;
    width: 320px;
  }

  .episode-video {
    width: 100%;
  }

  .episode-video iframe {
    width: 100%;
    height: 100%;
  }

  #meet-host {
    text-align: center;
    padding: 0 20px;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
  }

  .host-info h3 {
    font-size: 1.7rem;
    color: #cccccc;
    margin-bottom: 15px;
    text-align: center;
  }

  .host-info p {
    font-size: 0.95rem;
    color: #cccccc;
    margin-bottom: 15px;
    text-align: center;
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
  }

  footer {
    background-image: url(../assets/footer-bg.png);
    position: relative;
    height: auto;
    padding: 0 0 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  .footer-logo .logo {
    font-size: 2.5rem;
    font-weight: 900;
    padding-top: 10px;
  }

  .footer-logo .logo span {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .footer-content {
    width: 100%;
    max-width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

  }

  .footer-content .social-icons {
    gap: 12px 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;

  }

  .footer-content p {
    font-size: 0.65rem;
    margin-top: 10px
  }

  .footer-content .social-icons a {
    justify-content: flex-start;
    gap: 10px;

  }
}