* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A0B2E;
  font-family: "Inter", sans-serif;
}

/* Shared Styles */



/* Particular Styles */
/* Nav Bar */
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px;
}

.navbar .logo {
  color: #FFFFFF;
}

.navbar .logo span {
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar .menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.navbar .menu a {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
  cursor: pointer;
}

.sub-btn {
  width: auto 135px;
  height: 44px;
  padding: 12px 16px;
  display: flex;
  border: none;
  border-radius: 30px;
  font-size: 1.15rem;
  font-weight: 600;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.sub-btn img {
  background: none;
  width: 20px;
  height: auto;
}


/* Banner Section */

#banner {
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.images-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.images-container .foreground {
  position: absolute;
  background: none;
}

.badge {
  position: absolute;
  top: -110px;
  left: 80px;
  background: #00ff88;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 20px;
  z-index: 5;
  animation: rotateBadge 4s linear infinite;
}

@keyframes rotateBadge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-content {
  text-align: center;
  color: #FFFFFF;
  align-items: center;
  padding-top: 400px;
  justify-content: center;

}

.text-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.btn-group {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#banner .primary-btn {
  width: 201px;
  height: 44px;
  padding: 12px 16px;
  display: flex;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #ffffff;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.subscribe-btn:hover,
.primary-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(251, 9, 180, 0.4),
    0 0 15px rgba(145, 0, 248, 0.6);
}

#banner .second-btn {
  background: transparent;
  color: #00FF88;
  border: 2px solid #00FF88;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  width: 147px;
  height: 44px;
  cursor: pointer;
  gap: 40px;
  align-items: center;
}

.second-btn:hover {
  transform: scale(1.1);
}